USE [evaluation]
GO
/****** Object:  Table [dbo].[tblcat]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblcat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[catName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tblcat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblcriteria]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblcriteria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lawRefID] [int] NULL,
	[catID] [int] NOT NULL,
	[criteriaName] [varchar](250) NOT NULL,
	[factor] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblcriteria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblenum]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblenum](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[groupname] [varchar](30) NOT NULL,
	[name] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tblenum] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblevaluated]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblevaluated](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](25) NOT NULL,
	[Lname] [varchar](25) NULL,
	[code] [varchar](30) NOT NULL,
	[responsibleID] [int] NOT NULL,
	[manageID] [int] NULL,
	[provinceID] [int] NULL,
	[cityID] [int] NULL,
	[vilageID] [int] NULL,
	[address] [varchar](250) NULL,
	[phone] [varchar](20) NULL,
	[signature] [varchar](250) NULL,
 CONSTRAINT [PK_tblevaluated] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblevaluation_baseform]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblevaluation_baseform](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rangePackID] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[creatorMemberID] [int] NOT NULL,
	[createDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblevaluation_baseform] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblevaluation_baseform_detail]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblevaluation_baseform_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[evaluation_baseformID] [int] NOT NULL,
	[criteriaID] [int] NOT NULL,
	[creatorMemberID] [int] NOT NULL,
	[createDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblevaluation_baseform_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblevaluation_form]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblevaluation_form](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[evaluatorID] [int] NOT NULL,
	[evaluatedID] [int] NOT NULL,
	[baseFormID] [int] NOT NULL,
	[managerID] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[evaluatorSignature] [varchar](250) NULL,
	[evaluatorSignatureDate] [datetime] NULL,
	[evaluatedSignature] [varchar](250) NULL,
	[evaluatedSignatureDate] [datetime] NULL,
	[creatorMemberID] [int] NOT NULL,
	[createdate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblevaluation_form] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblevaluation_rang]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblevaluation_rang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[packID] [int] NOT NULL,
	[value] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblevaluation_rang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblevaluation_rang_pack]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblevaluation_rang_pack](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[packType] [bit] NOT NULL,
 CONSTRAINT [PK_tblevaluation_rang_pack] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblevaluator]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblevaluator](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nationalCode] [varchar](10) NOT NULL,
	[fname] [varchar](20) NOT NULL,
	[lname] [varchar](30) NOT NULL,
	[mobile] [varchar](11) NOT NULL,
	[accountNo] [varchar](12) NOT NULL,
	[shaba] [varchar](24) NOT NULL,
	[signature] [varchar](250) NOT NULL,
	[createdate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblevaluator] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblevalutionformdetail]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblevalutionformdetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[evaluationFormID] [int] NOT NULL,
	[criteriaID] [int] NOT NULL,
	[factor] [tinyint] NOT NULL,
 CONSTRAINT [PK_tblevalutionformdetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbllawref]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbllawref](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[refName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tbllawref] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblmanager]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblmanager](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[lname] [nvarchar](50) NOT NULL,
	[mobile] [char](11) NOT NULL,
	[nationalCode] [char](10) NOT NULL,
 CONSTRAINT [PK_tblmanager] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblresponsible]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblresponsible](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[fname] [varchar](30) NOT NULL,
	[mobile] [varchar](11) NOT NULL,
 CONSTRAINT [PK_tblresponsible] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbluser]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbluser](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[fName] [varchar](20) NULL,
	[lName] [varchar](25) NULL,
	[phone] [varchar](11) NOT NULL,
	[address] [varchar](250) NULL,
	[birthDate] [date] NULL,
	[createdAt] [date] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_tbluser] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblusercode]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblusercode](
	[userCodeID] [bigint] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[userCode] [smallint] NOT NULL,
	[createdAt] [datetime] NULL,
 CONSTRAINT [PK_tblusercode] PRIMARY KEY CLUSTERED 
(
	[userCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbluserlog]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbluserlog](
	[logID] [int] IDENTITY(1,1) NOT NULL,
	[loginDate] [datetime] NOT NULL,
	[userID] [int] NOT NULL,
	[createdAT] [datetime] NOT NULL,
 CONSTRAINT [PK_tbluserlog] PRIMARY KEY CLUSTERED 
(
	[logID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viwAllBaseFormCriteria]    Script Date: 11/2/2025 6:56:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[viwAllBaseFormCriteria] as
select tblcriteria.id 
,tblcriteria.criteriaName 
,tblcriteria.factor 
,tblcat.catName
,tblcat.id 
aS catid,
1 AS criteriaExist
,tblevaluation_baseform_detail.evaluation_baseformID AS evaluation_baseformID 
from tblcriteria
 join tblevaluation_baseform 
 join tblevaluation_baseform_detail 
on tblevaluation_baseform.id = tblevaluation_baseform_detail.evaluation_baseformID
on tblcriteria.id = tblevaluation_baseform_detail.criteriaID
 join tblcat on tblcriteria.catID = tblcat.id
GO
ALTER TABLE [dbo].[tblcriteria] ADD  CONSTRAINT [DF__tblcriter__lawRe__7F60ED59]  DEFAULT (NULL) FOR [lawRefID]
GO
ALTER TABLE [dbo].[tblevaluated] ADD  CONSTRAINT [DF__tblevalua__Lname__023D5A04]  DEFAULT (NULL) FOR [Lname]
GO
ALTER TABLE [dbo].[tblevaluated] ADD  CONSTRAINT [DF__tblevalua__manag__03317E3D]  DEFAULT (NULL) FOR [manageID]
GO
ALTER TABLE [dbo].[tblevaluated] ADD  CONSTRAINT [DF__tblevalua__provi__0425A276]  DEFAULT (NULL) FOR [provinceID]
GO
ALTER TABLE [dbo].[tblevaluated] ADD  CONSTRAINT [DF__tblevalua__cityI__0519C6AF]  DEFAULT (NULL) FOR [cityID]
GO
ALTER TABLE [dbo].[tblevaluated] ADD  CONSTRAINT [DF__tblevalua__vilag__060DEAE8]  DEFAULT (NULL) FOR [vilageID]
GO
ALTER TABLE [dbo].[tblevaluated] ADD  CONSTRAINT [DF__tblevalua__addre__07020F21]  DEFAULT (NULL) FOR [address]
GO
ALTER TABLE [dbo].[tblevaluated] ADD  CONSTRAINT [DF__tblevalua__phone__07F6335A]  DEFAULT (NULL) FOR [phone]
GO
ALTER TABLE [dbo].[tblevaluated] ADD  CONSTRAINT [DF__tblevalua__signa__08EA5793]  DEFAULT (NULL) FOR [signature]
GO
ALTER TABLE [dbo].[tblevaluation_form] ADD  CONSTRAINT [DF__tblevalua__evalu__0CBAE877]  DEFAULT (NULL) FOR [evaluatorSignature]
GO
ALTER TABLE [dbo].[tblevaluation_form] ADD  CONSTRAINT [DF__tblevalua__evalu__0DAF0CB0]  DEFAULT (NULL) FOR [evaluatedSignature]
GO
ALTER TABLE [dbo].[tbluser] ADD  CONSTRAINT [DF__tbluser__fName__15502E78]  DEFAULT (NULL) FOR [fName]
GO
ALTER TABLE [dbo].[tbluser] ADD  CONSTRAINT [DF__tbluser__lName__164452B1]  DEFAULT (NULL) FOR [lName]
GO
ALTER TABLE [dbo].[tbluser] ADD  CONSTRAINT [DF__tbluser__address__173876EA]  DEFAULT (NULL) FOR [address]
GO
ALTER TABLE [dbo].[tbluser] ADD  CONSTRAINT [DF__tbluser__birthDa__182C9B23]  DEFAULT (NULL) FOR [birthDate]
GO
ALTER TABLE [dbo].[tblusercode] ADD  CONSTRAINT [DF__tbluserco__creat__1A14E395]  DEFAULT (NULL) FOR [createdAt]
GO
ALTER TABLE [dbo].[tblcriteria]  WITH CHECK ADD  CONSTRAINT [FK_tblcriteria_tblcat] FOREIGN KEY([catID])
REFERENCES [dbo].[tblcat] ([id])
GO
ALTER TABLE [dbo].[tblcriteria] CHECK CONSTRAINT [FK_tblcriteria_tblcat]
GO
ALTER TABLE [dbo].[tblcriteria]  WITH CHECK ADD  CONSTRAINT [FK_tblcriteria_tbllawref] FOREIGN KEY([lawRefID])
REFERENCES [dbo].[tbllawref] ([id])
GO
ALTER TABLE [dbo].[tblcriteria] CHECK CONSTRAINT [FK_tblcriteria_tbllawref]
GO
ALTER TABLE [dbo].[tblevaluated]  WITH CHECK ADD  CONSTRAINT [FK_tblevaluated_tblenum1] FOREIGN KEY([vilageID])
REFERENCES [dbo].[tblenum] ([id])
GO
ALTER TABLE [dbo].[tblevaluated] CHECK CONSTRAINT [FK_tblevaluated_tblenum1]
GO
ALTER TABLE [dbo].[tblevaluated]  WITH CHECK ADD  CONSTRAINT [FK_tblevaluated_tblenum2] FOREIGN KEY([cityID])
REFERENCES [dbo].[tblenum] ([id])
GO
ALTER TABLE [dbo].[tblevaluated] CHECK CONSTRAINT [FK_tblevaluated_tblenum2]
GO
ALTER TABLE [dbo].[tblevaluated]  WITH CHECK ADD  CONSTRAINT [FK_tblevaluated_tblevaluated] FOREIGN KEY([id])
REFERENCES [dbo].[tblevaluated] ([id])
GO
ALTER TABLE [dbo].[tblevaluated] CHECK CONSTRAINT [FK_tblevaluated_tblevaluated]
GO
ALTER TABLE [dbo].[tblevaluated]  WITH CHECK ADD  CONSTRAINT [FK_tblevaluated_tblmanager] FOREIGN KEY([manageID])
REFERENCES [dbo].[tblmanager] ([id])
GO
ALTER TABLE [dbo].[tblevaluated] CHECK CONSTRAINT [FK_tblevaluated_tblmanager]
GO
ALTER TABLE [dbo].[tblevaluated]  WITH CHECK ADD  CONSTRAINT [FK_tblevaluated_tblresponsible] FOREIGN KEY([responsibleID])
REFERENCES [dbo].[tblresponsible] ([id])
GO
ALTER TABLE [dbo].[tblevaluated] CHECK CONSTRAINT [FK_tblevaluated_tblresponsible]
GO
ALTER TABLE [dbo].[tblevaluation_baseform]  WITH CHECK ADD  CONSTRAINT [FK_tblevaluation_baseform_tblevaluation_rang_pack] FOREIGN KEY([rangePackID])
REFERENCES [dbo].[tblevaluation_rang_pack] ([id])
GO
ALTER TABLE [dbo].[tblevaluation_baseform] CHECK CONSTRAINT [FK_tblevaluation_baseform_tblevaluation_rang_pack]
GO
ALTER TABLE [dbo].[tblevaluation_baseform_detail]  WITH CHECK ADD  CONSTRAINT [FK_tblevaluation_baseform_detail_tblcriteria] FOREIGN KEY([criteriaID])
REFERENCES [dbo].[tblcriteria] ([id])
GO
ALTER TABLE [dbo].[tblevaluation_baseform_detail] CHECK CONSTRAINT [FK_tblevaluation_baseform_detail_tblcriteria]
GO
ALTER TABLE [dbo].[tblevaluation_baseform_detail]  WITH CHECK ADD  CONSTRAINT [FK_tblevaluation_baseform_detail_tblevaluation_baseform] FOREIGN KEY([evaluation_baseformID])
REFERENCES [dbo].[tblevaluation_baseform] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblevaluation_baseform_detail] CHECK CONSTRAINT [FK_tblevaluation_baseform_detail_tblevaluation_baseform]
GO
ALTER TABLE [dbo].[tblevaluation_form]  WITH CHECK ADD  CONSTRAINT [FK_tblevaluation_form_tblevaluated] FOREIGN KEY([evaluatedID])
REFERENCES [dbo].[tblevaluated] ([id])
GO
ALTER TABLE [dbo].[tblevaluation_form] CHECK CONSTRAINT [FK_tblevaluation_form_tblevaluated]
GO
ALTER TABLE [dbo].[tblevaluation_form]  WITH CHECK ADD  CONSTRAINT [FK_tblevaluation_form_tblevaluation_baseform] FOREIGN KEY([baseFormID])
REFERENCES [dbo].[tblevaluation_baseform] ([id])
GO
ALTER TABLE [dbo].[tblevaluation_form] CHECK CONSTRAINT [FK_tblevaluation_form_tblevaluation_baseform]
GO
ALTER TABLE [dbo].[tblevaluation_form]  WITH CHECK ADD  CONSTRAINT [FK_tblevaluation_form_tblevaluator] FOREIGN KEY([evaluatorID])
REFERENCES [dbo].[tblevaluator] ([id])
GO
ALTER TABLE [dbo].[tblevaluation_form] CHECK CONSTRAINT [FK_tblevaluation_form_tblevaluator]
GO
ALTER TABLE [dbo].[tblevaluation_form]  WITH CHECK ADD  CONSTRAINT [FK_tblevaluation_form_tblmanager] FOREIGN KEY([managerID])
REFERENCES [dbo].[tblmanager] ([id])
GO
ALTER TABLE [dbo].[tblevaluation_form] CHECK CONSTRAINT [FK_tblevaluation_form_tblmanager]
GO
ALTER TABLE [dbo].[tblevaluation_rang]  WITH CHECK ADD  CONSTRAINT [FK_tblevaluation_rang_tblevaluation_rang_pack] FOREIGN KEY([packID])
REFERENCES [dbo].[tblevaluation_rang_pack] ([id])
GO
ALTER TABLE [dbo].[tblevaluation_rang] CHECK CONSTRAINT [FK_tblevaluation_rang_tblevaluation_rang_pack]
GO
ALTER TABLE [dbo].[tblevalutionformdetail]  WITH CHECK ADD  CONSTRAINT [FK_tblevalutionformdetail_tblcriteria] FOREIGN KEY([criteriaID])
REFERENCES [dbo].[tblcriteria] ([id])
GO
ALTER TABLE [dbo].[tblevalutionformdetail] CHECK CONSTRAINT [FK_tblevalutionformdetail_tblcriteria]
GO
ALTER TABLE [dbo].[tblevalutionformdetail]  WITH CHECK ADD  CONSTRAINT [FK_tblevalutionformdetail_tblevaluation_form] FOREIGN KEY([evaluationFormID])
REFERENCES [dbo].[tblevaluation_form] ([id])
GO
ALTER TABLE [dbo].[tblevalutionformdetail] CHECK CONSTRAINT [FK_tblevalutionformdetail_tblevaluation_form]
GO
/****** Object:  StoredProcedure [dbo].[getallCriteria]    Script Date: 11/2/2025 6:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getallCriteria]
@baseformid as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

select tblcriteria.id 
,tblcriteria.criteriaName 
,tblcriteria.factor 
,tblcat.catName
,tblcat.id 
aS catid,
0 AS criteriaExist
,0 AS evaluation_baseformID 
from tblcriteria
 join tblcat on tblcriteria.catID = tblcat.id
 where tblcriteria.id not in 
 (select id from viwAllBaseFormCriteria 
  where viwAllBaseFormCriteria.evaluation_baseformID=@baseformid)
  union
  select viwAllBaseFormCriteria.id 
,viwAllBaseFormCriteria.criteriaName 
,viwAllBaseFormCriteria.factor 
,viwAllBaseFormCriteria.catName
,viwAllBaseFormCriteria.catid 
aS catid,
1 AS criteriaExist
,viwAllBaseFormCriteria.evaluation_baseformID AS evaluation_baseformID 
from viwAllBaseFormCriteria
where evaluation_baseformID=@baseformid
END
GO
